<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>cabManagement</servlet-name>
        <servlet-class>com.megacitycab.cabManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>driverManagement</servlet-name>
        <servlet-class>driverManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cabManagement</servlet-name>
        <url-pattern>/cabManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>driverManagement</servlet-name>
        <url-pattern>/driverManagement</url-pattern>
    </servlet-mapping>
    <dependency>
    <groupId>mysql</groupId>
    <artifactId>mysql-connector-java</artifactId>
    <version>8.0.27</version>
</dependency>

</web-app>
